html, body {
	width: 100%;
}

html, body, #app {
	background: #e7e7e7;
}

table > thead > tr > th {
	white-space: nowrap;
}

.v-select__selections > span:first-child {
	margin-left: 0;
}

.v-select-list .v-list {
	padding: 0;
}

.opcao-imagem {
	max-height: 200px;
	max-width: 250px;
	padding-right: 0px!important;
	width: fit-content!important;
}

.btn {
	color:gold!important;
}

.texto {
	font-size: small!important;
}